pipeline/Requirement1.json
{
	"name": "Requirement1",
	"properties": {
		"activities": [
			{
				"name": "retrieveCaseId",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/users",
					"method": "GET"
				}
			},
			{
				"name": "ForEach_CaseId",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "retrieveCaseId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('retrieveCaseId').output.data",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "validateCaseId",
							"type": "WebActivity",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"kanaCaseId": {
										"value": "@item().id",
										"type": "Expression"
									}
								},
								"authentication": {
									"type": "Basic",
									"password": {
										"type": "SecureString",
										"value": "**********"
									}
								}
							}
						},
						{
							"name": "retrieveKanaMessages",
							"type": "WebActivity",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "validateCaseId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"caseId": {
										"value": "@item().id",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "ExtractCaseDetails",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "Id",
											"value": {
												"value": "@item().id",
												"type": "Expression"
											}
										},
										{
											"name": "Message",
											"value": {
												"value": "@item().first_name",
												"type": "Expression"
											}
										},
										{
											"name": "Attachement_id",
											"value": {
												"value": "@add(item().id, 10)",
												"type": "Expression"
											}
										},
										{
											"name": "FileName",
											"value": {
												"value": "@item().avatar",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Id",
												"type": "String"
											},
											"sink": {
												"name": "Id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Message",
												"type": "String"
											},
											"sink": {
												"name": "Message",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "Attachement_id",
												"type": "String"
											},
											"sink": {
												"name": "Attachement_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "FileName",
												"type": "String"
											},
											"sink": {
												"name": "FileName",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_DummyDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CaseDetails_Sink",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "validateCaseId_var",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "caseId",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "retrieveKanaMsg_Var",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "validateCaseId_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "kanaMsg",
								"value": {
									"value": "@item().first_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Child_ForEachAttachment",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "ForEach_AttachementId",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('retrieveCaseId').output.data[forEach('ForEach_AttachementId').current].id\n\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "getAttachment",
							"type": "WebActivity",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET"
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "caseId",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"caseId": {
				"type": "Integer"
			},
			"kanaMsg": {
				"type": "String"
			},
			"Attachments_Output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-10-11T12:24:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}